name: Publish package to GitHub Packages
on:
  push:
    branches:
      - main
      - feat/npm-deployment
      # - 'releases/**'
  # release:
  #   types: [published]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to GitHub Packages
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
          # registry-url: 'https://npm.pkg.github.com'
          # # Defaults to the user or organization that owns the workflow file
          # scope: '@octocat'
      - run: npm ci
      - run: |
          cd projects/oblique-galaxy
          git config --global user.name "GitHub Action Galaxy"
          git config --global user.email "galaxy@doesntexist.none"
          tag=$(npm version minor)
          git commit -am "Update to $tag"
          git tag "$tag"
          git push
          # git push remote/origin "$tag"
          git push origin "$tag"
          cd ../..
          npm run build oblique-galaxy
      - run: |
          cd dist/oblique-galaxy
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_SECRET }}
